{% extends 'cnc.html' %}
{% load static %}
{% block title%} Home !!{%endblock%}
{% block content%}
<!-- Parallax Section 1 -->
<section class="parallax" id="parallax-section-1" style="background-image: url('{% static "maincss/1.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Welcome to Simple CNC</h1>
        <p>A guide to essential CNC and VMC programming codes that used in machining.</p>
    </div>
</section>

<!-- Parallax Section 2 -->
<section class="parallax" id="parallax-section-2" style="background-image: url('{% static "maincss/2.jpeg"%}')";>
    <div class="parallax-content">
        <h1>CNC Technology</h1>
        <p>Computer Numerical Control (CNC) revolutionizes manufacturing with precision and efficiency. It powers industries like aerospace, automotive, etc.</p>
    </div>
</section>

<!-- Parallax Section 3 -->
<section class="parallax" id="parallax-section-3" style="background-image: url('{% static "maincss/3.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Career in CNC Machining</h1>
        <p>It could opens doors to high demand areas in manufacturing, aerospace, automotive, etc. From machine operator to programmer and engineer, CNC skills can lead to an amazing and well paying jobs/positions.</p>
    </div>
</section>

<!-- Content Section -->
<section class="content">
    <div class="section-container">
        <img src="/static/maincss/prince.jpg" alt="Your Name" style="width: 150px; border-radius: 10px; margin-left: 20px;">
        <h3>Er. Ravinder Singh</h3>
        <p>
        Hi! I'm a passionate mechanical engineer with over 8 years of experience in CNC machining. I love precision, problem-solving, and constantly learning new technologies to improve manufacturing efficiency. Currently working in Romania, Europe, I specialize in both turning and milling operations, CNC Programming, Engineering Design also with CAD (Computer-Aided Design) & CAM (Computer-Aided Manufacturing).
        </p>
        
        <hr style="clear: both;">
    
        <h3>Contact Info</h3>
        <ul style="list-style: none; padding: 0;">
        <li><strong>Country:</strong> India</li>
        <li><strong>Work Location:</strong> Mirfo Machine Tools SRL (Europe)</li>
        <li><strong>Em@il:</strong> ravindersingghh555@gmail.com</li>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/er-ravinder-singh-044129361" target="_blank">Profile Link</a></li>
        </ul>
        </div>
</section>

<!-- Parallax Section 4 -->
<section class="parallax" id="parallax-section-4" style="background-image: url('{% static "maincss/4.jpeg"%}')";>
    <div class="parallax-content">
        <h1>G-Codes and M-Codes</h1>
        <p>G-Codes control machine movement, while M-Codes handle auxiliary functions. Master these to program CNC and VMC machines like an expert.</p>
    </div>
</section>

<!-- Parallax Section 5 -->
<section class="parallax" id="parallax-section-5" style="background-image: url('{% static "maincss/5.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Simple CNC</h1>
        <p>Master CNC programming, enhance your skills, and unlock new opportunities in the machining world. Your journey to success starts here keep learning and keep growing with the Simple CNC.</p>
    </div>
</section>
{% endblock %}
