{% extends 'cnc.html' %}
{% load static %}
{% block title%} Home !!{%endblock%}
{% block content%}
<!-- Parallax Section 1 -->
<section class="parallax" id="parallax-section-1" style="background-image: url('{% static "maincss/1.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Welcome to Simple CNC</h1>
        <p>Your ultimate guide to CNC and VMC programming! Explore detailed explanations of all essential codes used in machining.</p>
    </div>
</section>

<!-- Parallax Section 2 -->
<section class="parallax" id="parallax-section-2" style="background-image: url('{% static "maincss/2.jpeg"%}')";>
    <div class="parallax-content">
        <h1>CNC Technology</h1>
        <p>Computer Numerical Control (CNC) revolutionizes manufacturing with precision, automation, and efficiency. It powers industries like aerospace, automotive, and medical by transforming raw materials into high precision parts.</p>
    </div>
</section>

<!-- Parallax Section 3 -->
<section class="parallax" id="parallax-section-3" style="background-image: url('{% static "maincss/3.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Career in CNC Machining</h1>
        <p>A career in CNC machining opens doors to high demand jobs in manufacturing, aerospace, automotive, and more. From machine operator to programmer and engineer, CNC skills can lead to a rewarding and well paying profession.</p>
    </div>
</section>

<!-- Content Section -->
<section class="content">
    <div class="section-container">
        <h1>About Us</h1>
        <p>Simple CNC is the place for mastering CNC and VMC programming. Learn about G-Codes, M-Codes, machine operations, and industry best practices all in one place.</p>
    </div>
</section>

<!-- Parallax Section 4 -->
<section class="parallax" id="parallax-section-4" style="background-image: url('{% static "maincss/4.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Explanation of G-Codes and M-Codes</h1>
        <p>G-Codes control machine movement, while M-Codes handle auxiliary functions. Master these to program CNC and VMC machines like an expert.</p>
    </div>
</section>

<!-- Parallax Section 5 -->
<section class="parallax" id="parallax-section-5" style="background-image: url('{% static "maincss/5.jpeg"%}')";>
    <div class="parallax-content">
        <h1>Grow with SimpleCNC</h1>
        <p>Master CNC programming, enhance your skills, and unlock new opportunities in the machining world. Your journey to success starts here keep learning and keep growing with the Simple CNC.</p>
    </div>
</section>
{% endblock %}
